<div style="padding-left:3%; padding-right:3%;">
    <h2>About this project</h2>
    <p>
      The Geographic Timeline Project was conceived by Stephen Cartwright as an extension of his self-tracking art projects.<br />
      For more information, visit: <a href="http://www.stephencartwright.com/#/life-location-project/" target="_blank" style="text-decoration:underline;">Stephen's Webpage</a>.
    </p>
    <p>
      The Geographic Timeline Project is a public interactive artwork that examines the movement of people over time.<br />
      Individual lines will accumulate to for a sprawling network of people’s trajectories through life.
    </p>
    <h2>To Participate:</h2>
    <p>
      Input – some information about where you have lived and when you have moved<br />
      See – the results of your path through time and space in a dynamic 3D visualization<br />
      Save – Save your line to the growing database<br />
      Search and Filter – once you have made your line see how it compares to others<br />
    </p>
    Original web coding and design by Yerim Park.
  </div>
