<img class="slides frame" src="images/img2.jpg" />
<img class="slides frame" src="images/img1.jpg" />
<img class="slides frame" src="images/img3.jpg" />
<img class="slides frame" src="images/img4.jpg" />
<img class="slides frame" src="images/img5.jpg" />


<script>
var myIndex = 0;
slideshow();

function slideshow() {
    var i;
    var x = document.getElementsByClassName("slides");
    for (i = 0; i < x.length; i++) {
       x[i].style.display = "none";
    }
    myIndex++;
    if (myIndex > x.length){
      myIndex = 1;
    }
    x[myIndex-1].style.display = "block";
    setTimeout(slideshow, 3000); // New slide every 5 seconds
}
</script>
