<!--<div ng-controller="addCtrl">-->
    <!-- Map and Side Panel -->
    <div class="row ">
        <!-- Google Map -->
        <div class="col-md-7">
            <div id="map"></div>
        </div>
        <!-- Side Panel -->
        <div class="col-md-4">
            <div class="panel panel-default">
                <!-- Panel Title -->
                <div class="panel-heading">
                    <h2 class="panel-title text-center">Map me! <span class="glyphicon glyphicon-map-marker"></span></h2>
                </div>
                <!-- Panel Body -->
                <div class="panel-body">
                    <!-- Creates Form (novalidate disables HTML validation, Angular will control) -->
                    <form name ="addForm" novalidate>
                        <!-- Text Boxes and Other User Inputs. Note ng-model binds the values to Angular $scope -->
                        <div class="form-group col-md-6" style="padding-left:0;">
                            <label for="firstName">First name</label><span style="color:red;"> *</span>
                            <input type="text" class="form-control" id="firstName" placeholder="Joe" ng-model="formData.firstName" required>
                        </div>
                        <div class="form-group col-md-6" style="padding-right:0;">
                            <label for="lastName">Last Name</label><span style="color:red;"> *</span>
                            <input type="text" class="form-control" id="lastName" placeholder="Bloggs" ng-model="formData.lastName" required>
                        </div>
                        <div class="form-group">
                            <label for="date">Date</label><span style="color:red;"> *</span>
                            <input type="date" class="form-control" id="date" placeholder="Date" data-ng-date-picker="" ng-model="formData.date" required>
                        </div>
                        <div class="col-md-12" style="color:red;">
                          <p><br /><span class="glyphicon glyphicon-map-marker"></span> &nbsp; Pin Map for Lat / Lon Data </p>
                        </div>
                        <div class="col-md-6 form-group" style="padding-left:0;">
                            <label for="latitude">Lat</label>
                            <input type="text" class="form-control" id="latitude" placeholder="Lat" value="39.500" ng-model="formData.latitude" required>
                        </div>
                        <div class="col-md-6 form-group" style="padding-right:0;">
                            <label for="longitude">Lon</label>
                            <input type="text" class="form-control" id="longitude" placeholder="Lon" value="-98.350" ng-model="formData.longitude" required>
                        </div>
                        <div class="form-group">
                            <label for="address">Address</label><span style="color:red;"> *</span>
                            <input type="text" class="form-control" id="address" placeholder="Specify Address" ng-model="formData.address" required>
                        </div>


                        <!--button class="addfields btn btn-info col-md-6" ng-click="addNewChoice()">Submit location</button-->
                        <!--div class="callout alert" id="error">
                          <h5 ng-bind="displayText"></h5>
                        </div-->
                        <!-- Submit button. Note that its tied to createUser() function from addCtrl. Also note ng-disabled logic which prevents early submits.  -->
                         <button type="submit" class="btn btn-warning col-md-12" ng-click="createMap()" >Add Another Point</button>
                         <div class="col-md-12"><br /></div>
                         <label>
                           Assigned User
                           <!-- <select ng-model="assignedUser">
                             <div ng-repeat="location in locations" value="{{user._id}}">
                               {{location.lastName}}
                             </div>
                           </select> -->
                           <input type="search" ng-model="search.stri" placeholder="Search" />
                         </label>
                         <div class="col-md-12">
                           <div ng-repeat="user in users | filter:search.stri">
                             <p>
                              {{user.firstName}} {{user.lastName}}
                             </p>
                           </div>
                         </div>
                        <button type="submit" class="btn btn-danger col-md-12" ng-click="createUser()" >Create User</button>
                        <div class="col-md-12"><br /></div>
                          <div class="col-md-12" id="createUserSuccess">
                            <p>
                              Your Mapping Data:<br />
                              {{formData.firstName}} &nbsp; {{formData.lastName}} &nbsp; {{formData.date}} &nbsp; {{formData.lat}} &nbsp;{{formData.lon}}
                            </p>
                            <h5 ng-bind="displayText"></h5>
                          </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDrn605l7RPadiwdzsOlRw9O28lxfYBJ6s&libraries=places&callback=initAutocomplete"
        async defer></script>
